.tabs {
    display: flex;
    padding: 0.5rem;
    background-color: rgba(white, 0.25);
    border-radius: 0.8rem;
    backdrop-filter: blur(3px);
    margin: 0.8rem;
    margin-top: 3.2rem;
    //gap: 0.8rem;
}

.tab {
    &:not(:last-child) {
        margin-right: 0.8rem;
    }
}

.tab {
    position: relative;
    z-index: 1;
    text-decoration: none;
}

.tab-tile {
    padding: 1rem;
    cursor: pointer;
    display: flex;
    transition: all 0.2s;
    i {
        color: #222;
    }
}

.tab.tab.selected .tab-tile{
    transform: translateY(-1.5rem);
    transition-duration: 0.5s;
    transition-timing-function: cubic-bezier(0, 0, 0, 2);;
}

//styles for the tab-tile background - that one that has shapes and colours
.tab-tile::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;

    border-radius: 0.5rem;
    z-index: -1;

    transition: all 0.2s;
    opacity: 0.9;
}

.bookmarks-tab .tab-tile::before {
    background: linear-gradient(45deg, #fbbcac, #e2d2fd);
}

.todos-tab .tab-tile::before {
    background: linear-gradient(45deg, #a2ffff, #ffbbde);
}

.notes-tab .tab-tile::before {
    background: linear-gradient(45deg, #d2cdff, #5fffbc);
}

.tab-tile:hover::before{
    transform: scale(1.1);
    opacity: 1;
}

.tab.selected .tab-tile::before {
    border-radius: 50%;
    transform: scale(1.1);
    opacity: 1;
}

//end of tab-tile background

